<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1147},{260,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{260,256}}</string>
                <key>sourceSize</key>
                <string>{274,256}</string>
            </dict>
            <key>Symbol 11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,860},{379,286}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,54},{379,286}}</string>
                <key>sourceSize</key>
                <string>{415,448}</string>
            </dict>
            <key>Symbol 20 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1092},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>Symbol 21 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,528},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>Symbol 22 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,930},{162,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,161}}</string>
                <key>sourceSize</key>
                <string>{162,161}</string>
            </dict>
            <key>Tween 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1378},{80,72}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>b1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1311},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,102}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>daigia copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{429,435}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{429,435}}</string>
                <key>sourceSize</key>
                <string>{451,463}</string>
            </dict>
            <key>den copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1414},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>lights copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1191},{277,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{277,97}}</string>
                <key>sourceSize</key>
                <string>{279,107}</string>
            </dict>
            <key>phuho copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,860},{429,434}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{429,434}}</string>
                <key>sourceSize</key>
                <string>{457,472}</string>
            </dict>
            <key>soc ngang ngoai copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,674},{103,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{103,22}}</string>
                <key>sourceSize</key>
                <string>{113,28}</string>
            </dict>
            <key>tapsu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,315},{212,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,111}}</string>
                <key>sourceSize</key>
                <string>{212,111}</string>
            </dict>
            <key>textdaigia copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1147},{230,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,102}}</string>
                <key>sourceSize</key>
                <string>{230,102}</string>
            </dict>
            <key>textphuho copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,674},{231,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,109}}</string>
                <key>sourceSize</key>
                <string>{231,109}</string>
            </dict>
            <key>texttrieuphu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1},{313,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,123}}</string>
                <key>sourceSize</key>
                <string>{313,123}</string>
            </dict>
            <key>texttyphu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1092},{218,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,106}}</string>
                <key>sourceSize</key>
                <string>{218,106}</string>
            </dict>
            <key>trieuphu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{428,435}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{428,435}}</string>
                <key>sourceSize</key>
                <string>{466,463}</string>
            </dict>
            <key>ts copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{429,456}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{429,456}}</string>
                <key>sourceSize</key>
                <string>{457,466}</string>
            </dict>
            <key>typhu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,431},{428,435}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{428,435}}</string>
                <key>sourceSize</key>
                <string>{454,453}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,860},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0e845e28a9a37664e072ab06baba4ab:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
