<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,66},{28,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,7}}</string>
                <key>sourceSize</key>
                <string>{28,7}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,142},{16,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,7}}</string>
                <key>sourceSize</key>
                <string>{16,7}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,365},{195,233}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{195,233}}</string>
                <key>sourceSize</key>
                <string>{433,433}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,330},{242,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,278}}</string>
                <key>sourceSize</key>
                <string>{242,278}</string>
            </dict>
            <key>Symbol 14X.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,599},{193,195}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,62},{193,195}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>Symbol 16 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,573},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{59,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,332}}</string>
                <key>sourceSize</key>
                <string>{59,332}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,365},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,95},{25,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,7}}</string>
                <key>sourceSize</key>
                <string>{25,7}</string>
            </dict>
            <key>Symbol 6X.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,121},{20,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,7}}</string>
                <key>sourceSize</key>
                <string>{20,7}</string>
            </dict>
            <key>Symbol 7X.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,543},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Symbol 9X.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,399},{40,28}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>final_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,543},{18,46}}</string>
                <key>offset</key>
                <string>{0,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,286},{18,46}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,440},{26,102}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,230},{26,102}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,66},{30,156}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,176},{30,156}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,328},{36,208}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,124},{36,208}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,61},{40,266}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{40,266}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,285},{44,288}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,44},{44,288}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,236},{48,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{48,288}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{52,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{52,288}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{58,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,44},{58,288}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{62,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,44},{62,288}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,573},{64,234}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,44},{64,234}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1},{64,176}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,43},{64,176}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,97},{64,118}}</string>
                <key>offset</key>
                <string>{2,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{64,118}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
            <key>final_00015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,159},{60,60}}</string>
                <key>offset</key>
                <string>{2,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{60,60}}</string>
                <key>sourceSize</key>
                <string>{106,376}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9bc9621addaf0c052a82b0d4eeecab:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
