<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer 1 copy 3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,220},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>Layer 1.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,101},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>Symbol 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,375},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Symbol 1 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,230},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>Symbol 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,333},{41,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,103}}</string>
                <key>sourceSize</key>
                <string>{41,103}</string>
            </dict>
            <key>Symbol 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{21,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Symbol 3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,303},{52,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,87}}</string>
                <key>sourceSize</key>
                <string>{52,87}</string>
            </dict>
            <key>Symbol 4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,375},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>Symbol 5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{91,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,171}}</string>
                <key>sourceSize</key>
                <string>{91,171}</string>
            </dict>
            <key>Symbol 6 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{145,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,308}}</string>
                <key>sourceSize</key>
                <string>{145,308}</string>
            </dict>
            <key>Symbol 7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{139,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,315}}</string>
                <key>sourceSize</key>
                <string>{139,315}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{78,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,228}}</string>
                <key>sourceSize</key>
                <string>{78,228}</string>
            </dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{99,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,132}}</string>
                <key>sourceSize</key>
                <string>{99,132}</string>
            </dict>
            <key>chan.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,101},{69,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,118}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dau.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,317},{167,202}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{167,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>tay.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,333},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>vay.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,391},{117,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,87}}</string>
                <key>sourceSize</key>
                <string>{117,87}</string>
            </dict>
            <key>vi.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,230},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8273b15cb12d93e96aff84789faf263f:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
