<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,624},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,134},{3,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,8}}</string>
                <key>sourceSize</key>
                <string>{3,8}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,596},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,596},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>Symbol 8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,859},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,596},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>closeeyes_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,273},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>closeeyes_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>closeeyes_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,678},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>closeeyes_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,811},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>closeeyes_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,545},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,918},{102,128}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,47},{102,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,789},{104,128}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{104,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,539},{102,130}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{102,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,267},{98,130}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{98,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{94,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{94,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,670},{90,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{90,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,670},{88,130}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{88,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,932},{88,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{88,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,646},{92,128}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,47},{92,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,388},{100,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{100,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{102,128}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{102,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,130},{102,128}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{102,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,259},{102,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{102,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,406},{100,130}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{100,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,134},{96,130}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{96,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{92,132}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{92,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,801},{90,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{90,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,932},{90,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{90,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,775},{92,128}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{92,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noohappy_0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,517},{96,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{96,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,406},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,273},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,678},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,801},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,537},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,801},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1},{54,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{54,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,130},{54,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{54,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,259},{54,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{54,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,388},{54,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{54,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,517},{54,128}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{54,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,398},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,265},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,529},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,396},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,660},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,527},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,791},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,658},{54,130}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{54,130}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nooidle_0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,811},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,493},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,756},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,629},{58,102}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,934},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,493},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,892},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,732},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1},{58,100}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1},{58,100}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,60},{58,100}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,76},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,60},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,102},{58,100}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{58,100}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,625},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,835},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,728},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,938},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>noosadnew_0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,831},{58,102}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,76},{58,102}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{54,132}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{54,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,134},{52,132}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{52,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,646},{52,128}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,47},{52,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,128},{50,124}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,51},{50,124}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,253},{50,122}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{50,122}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,904},{52,118}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{52,118}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,505},{52,118}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{52,118}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,639},{54,116}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{54,116}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,257},{54,124}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{54,124}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{60,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,36},{60,134}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{60,136}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,29},{60,136}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1},{60,132}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,26},{60,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1},{66,126}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,23},{66,126}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,944},{70,122}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{70,122}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,140},{68,132}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,26},{68,132}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{68,138}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{68,138}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,130},{68,126}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,51},{68,126}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,376},{68,116}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,59},{68,116}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,382},{66,122}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{66,122}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>nootungxucxac_0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1},{52,128}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,47},{52,128}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453760f06992b9caf3e992233de36285:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
