<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{386,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{386,144}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{384,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{384,144}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,287},{360,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{360,144}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,652},{350,132}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{350,132}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{386,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{386,140}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1},{386,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{386,144}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{372,144}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{372,144}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,291},{360,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{360,142}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,652},{350,130}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{350,130}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,146},{386,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{386,140}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6ee6d589457b2663cd8ea68e72985b7:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
