<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,202},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 1 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,220},{128,132}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{128,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 2 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,202},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 2 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,769},{152,154}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{152,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 3 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,769},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 3 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1},{164,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{164,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 4 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,876},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 4 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,353},{192,198}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 5 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,552},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 5 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,568},{196,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 6 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{216,198}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,33},{216,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Symbol 6 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,659},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 6 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{218,198}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,28},{218,198}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>Symbol 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,355},{212,190}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,39},{212,190}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>Symbol 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,840},{206,178}}</string>
                <key>offset</key>
                <string>{42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{206,178}}</string>
                <key>sourceSize</key>
                <string>{300,256}</string>
            </dict>
            <key>Symbol 7 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,309},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 8 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,416},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 9 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,166},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>as xuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,356},{79,266}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{79,266}}</string>
                <key>sourceSize</key>
                <string>{79,294}</string>
            </dict>
            <key>cot as trang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{49,354}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,134},{49,354}}</string>
                <key>sourceSize</key>
                <string>{111,488}</string>
            </dict>
            <key>fxguardian6atk215.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,220},{124,134}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,86},{124,134}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea99cc738eee039a650175db39e45d75:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
