<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,159},{78,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,541},{58,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{58,62}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{70,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{70,62}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,275},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1},{157,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{157,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>Symbol 2z.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,159},{114,52}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{114,52}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,541},{68,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>_0002_Layer-6.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,600},{45,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{45,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0003_Layer-7.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,586},{45,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{45,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0004_Layer-8.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,591},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0005_Layer-9.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,212},{43,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{43,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0006_Layer-10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,238},{51,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0007_Layer-11.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,586},{45,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{45,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0008_Layer-12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,541},{49,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>_0009_Layer-13.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,290},{51,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,345},{195,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{195,195}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>tia copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{294,288}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{294,288}}</string>
                <key>sourceSize</key>
                <string>{304,292}</string>
            </dict>
            <key>tia copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{328,295}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{328,295}}</string>
                <key>sourceSize</key>
                <string>{336,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350a1307a20de5db8c3877bbb6c1a752:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
