<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,209},{88,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,177},{74,41}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,41}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,131},{74,21}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,27},{74,21}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,107},{69,43}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,300},{110,76}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{110,76}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,288},{112,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{112,82}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{116,84}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>Symbol 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,209},{114,78}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{114,78}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>Symbol 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,235},{114,76}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{114,76}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{181,105}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{181,105}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,115},{129,119}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{129,119}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{167,101}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,82},{167,101}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{127,107}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,75},{127,107}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1},{131,113}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,69},{131,113}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,103},{131,105}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,76},{131,105}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>Untitled-1_00002.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,18},{74,27}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{74,27}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>Untitled-1_00005.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,103},{74,35}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{74,35}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>mat.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,93},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>ngua_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,298},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,377},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,371},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00023.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,371},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00032.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,368},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00038.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,312},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00044.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,382},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,109}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
            <key>ngua_00053.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,382},{69,61}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19222d47260d608fb85171c5916058c:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
