<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 16 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,718},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,102}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{70,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,158}}</string>
                <key>sourceSize</key>
                <string>{70,158}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,762},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,884},{69,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,85}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,970},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,974},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,974},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,196},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,553},{13,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,36}}</string>
                <key>sourceSize</key>
                <string>{13,36}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,316},{23,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,62}}</string>
                <key>sourceSize</key>
                <string>{23,62}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,595},{31,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,84}}</string>
                <key>sourceSize</key>
                <string>{31,84}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,727},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,490},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,346},{16,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,95}}</string>
                <key>sourceSize</key>
                <string>{16,95}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{20,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,123}}</string>
                <key>sourceSize</key>
                <string>{20,123}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,308},{50,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,161}}</string>
                <key>sourceSize</key>
                <string>{50,161}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{133,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,192}}</string>
                <key>sourceSize</key>
                <string>{135,192}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,124},{102,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,185}}</string>
                <key>sourceSize</key>
                <string>{102,185}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,886},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,886},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,821},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,821},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,811},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,461},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,461},{16,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,62}}</string>
                <key>sourceSize</key>
                <string>{16,62}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,476},{15,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{15,34}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,408},{18,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,50}}</string>
                <key>sourceSize</key>
                <string>{18,50}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,443},{21,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,76}}</string>
                <key>sourceSize</key>
                <string>{21,76}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,308},{26,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,99}}</string>
                <key>sourceSize</key>
                <string>{26,99}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,476},{45,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,130}}</string>
                <key>sourceSize</key>
                <string>{45,130}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,365},{110,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{87,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,149}}</string>
                <key>sourceSize</key>
                <string>{87,149}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,694},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,623},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,975},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,975},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 12_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,587},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,220},{7,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,41}}</string>
                <key>sourceSize</key>
                <string>{7,41}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,135},{11,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,60}}</string>
                <key>sourceSize</key>
                <string>{11,60}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,461},{13,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,91}}</string>
                <key>sourceSize</key>
                <string>{13,91}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,227},{16,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,118}}</string>
                <key>sourceSize</key>
                <string>{16,118}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,316},{48,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,154}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1},{122,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,191}}</string>
                <key>sourceSize</key>
                <string>{124,191}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,227},{88,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,178}}</string>
                <key>sourceSize</key>
                <string>{88,178}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,727},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,885},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,824},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,824},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>__dbTextures/skillvualehoi/Layer 13_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,972},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>do.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,520},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>hoa_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,459},{42,38}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,51},{42,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,558},{78,64}}</string>
                <key>offset</key>
                <string>{-4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{78,64}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_06.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,638},{88,74}}</string>
                <key>offset</key>
                <string>{-7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,27},{88,74}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_08.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{94,80}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{94,80}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{100,84}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,41},{100,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,627},{104,90}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,46},{104,90}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_14.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{106,96}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,50},{106,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_16.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,518},{106,104}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{106,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_18.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,595},{108,110}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,55},{108,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_22.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,352},{108,118}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,62},{108,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_24.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,123},{108,122}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,64},{108,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_26.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1},{100,124}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,67},{100,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hoa_28.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,522},{104,126}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,69},{104,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sao cup copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{172,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{172,180}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>sao cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,232},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>vang.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,442},{47,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,17}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>vangchanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,502},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>xanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,379},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35e38356eeb97f82709c58d1b3021579:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
