<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{66,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>Symbol 1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{19,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Symbol 2 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,154},{35,65}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{35,65}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Symbol 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,89},{56,64}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,25}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>text.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{117,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{117,87}}</string>
                <key>sourceSize</key>
                <string>{121,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccfb3b99c223bb242267a7a686021ce:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
