<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ngua_00001.png copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,364},{79,111}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{79,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00001.png copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,429},{79,111}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{79,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00001.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,410},{79,111}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{79,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,410},{79,111}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{79,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00002.png copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,173},{85,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00002.png copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,240},{85,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00002.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,252},{85,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,259},{85,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00003.png copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,345},{83,111}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00003.png copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{83,111}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00003.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,326},{83,111}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,326},{83,111}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00005.png copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,444},{85,109}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00005.png copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,509},{85,109}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00005.png copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,490},{85,109}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Ngua_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,490},{85,109}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,201},{50,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{50,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,403}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{82,403}}</string>
                <key>sourceSize</key>
                <string>{130,453}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,84},{48,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{48,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,148},{52,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{52,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,113},{46,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{46,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,242},{50,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{50,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>h 2_00000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{176,157}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{176,157}}</string>
                <key>sourceSize</key>
                <string>{176,187}</string>
            </dict>
            <key>h 2_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,84},{176,155}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{176,155}}</string>
                <key>sourceSize</key>
                <string>{176,187}</string>
            </dict>
            <key>h 2_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{100,171}}</string>
                <key>offset</key>
                <string>{38,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{100,171}}</string>
                <key>sourceSize</key>
                <string>{176,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92aacd5389924ae9cd341b86bb3e8b18:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
