<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RockFly_01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,300},{70,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{70,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{82,80}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{82,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,300},{94,94}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{94,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,396},{104,106}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{104,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_05.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,180},{108,112}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{108,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_06.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,289},{106,114}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{106,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_07.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,191},{114,108}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_08.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,396},{74,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{74,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_09.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,287},{58,104}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,26},{58,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RockFly_10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,344},{42,40}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,46},{42,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,396},{72,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{136,101}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{136,101}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{144,101}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{144,101}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1},{142,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{142,93}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,103},{122,87}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{122,87}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,77},{102,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{102,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,206},{97,87}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{124,102}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{124,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,95},{128,110}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{128,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,287},{76,56}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{76,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,300},{72,56}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{72,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,371},{60,53}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,72},{60,53}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,396},{108,81}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{108,81}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>nut1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,206},{77,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>nut3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38ae48095a4ec986f6349ec13fee3fb3:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
