<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CH_A_1_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1321},{213,303}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{213,303}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_A_2_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{199,305}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{199,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_A_3_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,819},{259,303}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{259,303}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_B_1_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1124},{195,305}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{195,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_B_2_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,309},{229,303}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{229,303}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_B_3_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1413},{215,303}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{215,303}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_C_1_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1222},{181,305}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{181,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_C_2_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{223,305}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{223,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_D_1_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1405},{157,303}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{157,303}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_D_2_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1003},{217,305}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{217,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>CH_S_1_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{237,305}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{237,305}}</string>
                <key>sourceSize</key>
                <string>{259,305}</string>
            </dict>
            <key>card_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{289,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,387}}</string>
                <key>sourceSize</key>
                <string>{289,387}</string>
            </dict>
            <key>card_A_star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,778},{271,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,39}}</string>
                <key>sourceSize</key>
                <string>{271,39}</string>
            </dict>
            <key>card_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{287,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,385}}</string>
                <key>sourceSize</key>
                <string>{287,385}</string>
            </dict>
            <key>card_B_star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,737},{271,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,39}}</string>
                <key>sourceSize</key>
                <string>{271,39}</string>
            </dict>
            <key>card_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,293},{287,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,385}}</string>
                <key>sourceSize</key>
                <string>{287,385}</string>
            </dict>
            <key>card_C_star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,696},{271,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,39}}</string>
                <key>sourceSize</key>
                <string>{271,39}</string>
            </dict>
            <key>card_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{287,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,385}}</string>
                <key>sourceSize</key>
                <string>{287,385}</string>
            </dict>
            <key>card_D_star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,655},{271,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,39}}</string>
                <key>sourceSize</key>
                <string>{271,39}</string>
            </dict>
            <key>card_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,387}}</string>
                <key>sourceSize</key>
                <string>{289,387}</string>
            </dict>
            <key>card_S_star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,614},{279,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,39}}</string>
                <key>sourceSize</key>
                <string>{279,39}</string>
            </dict>
            <key>card_main_char_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1536},{137,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,177}}</string>
                <key>sourceSize</key>
                <string>{137,177}</string>
            </dict>
            <key>card_star_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,912},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>card_star_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,871},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>character_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,953},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>character_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1372},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>character_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1003},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>name_slot_1_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,945},{339,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,56}}</string>
                <key>sourceSize</key>
                <string>{339,56}</string>
            </dict>
            <key>name_slot_1_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{339,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,56}}</string>
                <key>sourceSize</key>
                <string>{339,56}</string>
            </dict>
            <key>name_slot_1_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,887},{339,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,56}}</string>
                <key>sourceSize</key>
                <string>{339,56}</string>
            </dict>
            <key>name_slot_1_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{339,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,56}}</string>
                <key>sourceSize</key>
                <string>{339,56}</string>
            </dict>
            <key>name_slot_1_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,829},{339,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,56}}</string>
                <key>sourceSize</key>
                <string>{339,56}</string>
            </dict>
            <key>name_slot_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,780},{350,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,47}}</string>
                <key>sourceSize</key>
                <string>{350,49}</string>
            </dict>
            <key>name_slot_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,731},{350,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,47}}</string>
                <key>sourceSize</key>
                <string>{350,49}</string>
            </dict>
            <key>name_slot_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,682},{350,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,47}}</string>
                <key>sourceSize</key>
                <string>{350,49}</string>
            </dict>
            <key>name_slot_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,582},{350,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,49}}</string>
                <key>sourceSize</key>
                <string>{350,49}</string>
            </dict>
            <key>name_slot_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,633},{350,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,47}}</string>
                <key>sourceSize</key>
                <string>{350,49}</string>
            </dict>
            <key>word_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1162},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>word_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1233},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>word_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1086},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>word_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1009},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>word_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1297},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da6e383651423b3962463dff281eb804:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
