<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,64}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,59}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{156,59}}</string>
                <key>sourceSize</key>
                <string>{168,67}</string>
            </dict>
            <key>Symbol 1SAO copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,66},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{147,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,116}}</string>
                <key>sourceSize</key>
                <string>{147,120}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,838},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,300},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,424},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,548},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,672},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,796},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,243},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,367},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,491},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,615},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,739},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,863},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,183},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,307},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,431},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,555},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,679},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,803},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,927},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,61},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>Symbol 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,183},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,307},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,431},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,555},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>Symbol 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,803},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>Symbol 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,679},{123,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,92}}</string>
                <key>sourceSize</key>
                <string>{123,92}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,92},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,118},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,209},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,92},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,92},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,92},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,92},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,334},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,586},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,712},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,838},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,334},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,460},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,586},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>__dbTextures/btn_chonkenh/Layer 32_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,712},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>flare copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,920},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,135},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>font_chon_kenh.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,64}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>sao copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,118},{45,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,124}}</string>
                <key>sourceSize</key>
                <string>{45,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:349c289674527d6c89a69edb08bf669e:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
