<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,193},{17,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{17,102}}</string>
                <key>sourceSize</key>
                <string>{17,114}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,77},{17,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{17,115}}</string>
                <key>sourceSize</key>
                <string>{17,125}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,282},{43,125}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{43,125}}</string>
                <key>sourceSize</key>
                <string>{57,125}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,224},{57,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,125}}</string>
                <key>sourceSize</key>
                <string>{57,125}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,166},{57,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,134}}</string>
                <key>sourceSize</key>
                <string>{57,140}</string>
            </dict>
            <key>GlowGradt1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,335},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>GlowGradt1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,166},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,32},{18,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,44}}</string>
                <key>sourceSize</key>
                <string>{18,44}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,228}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{88,228}}</string>
                <key>sourceSize</key>
                <string>{96,250}</string>
            </dict>
            <key>Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,448},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,326},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,446},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,448},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>Symbol 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,226},{64,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,108}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,181},{44,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,110}}</string>
                <key>sourceSize</key>
                <string>{44,110}</string>
            </dict>
            <key>Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,407},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,407},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{133,217}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{133,217}}</string>
                <key>sourceSize</key>
                <string>{185,247}</string>
            </dict>
            <key>as c.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,85},{148,142}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,119},{148,142}}</string>
                <key>sourceSize</key>
                <string>{402,336}</string>
            </dict>
            <key>cricle.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{149,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,83}}</string>
                <key>sourceSize</key>
                <string>{149,83}</string>
            </dict>
            <key>gradient GF.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1},{179,83}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{179,83}}</string>
                <key>sourceSize</key>
                <string>{209,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef5bff59c41f06b2764f7204bb15fed:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
