<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fw copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,124},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>Symbol 1 copy 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,206},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>Symbol 1 copy 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Symbol 1 copy 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,299},{32,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{32,34}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>Symbol 1 copy 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,409},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,103},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,102}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Symbol 2 copy 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{142,134}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{142,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 2 copy 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>Symbol 2 copy 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>Symbol 2 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{142,134}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{142,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shape 29 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,103},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
            <key>sprite 183 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{137,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d0197372357ebc0fe81867d57b9f9a:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
