<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>box_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,76},{383,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,63}}</string>
                <key>sourceSize</key>
                <string>{383,63}</string>
            </dict>
            <key>loading_icon_horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,461},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{741,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,32}}</string>
                <key>sourceSize</key>
                <string>{741,32}</string>
            </dict>
            <key>login_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{744,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{744,38}}</string>
                <key>sourceSize</key>
                <string>{748,42}</string>
            </dict>
            <key>logo_ccn.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{465,258}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{465,258}}</string>
                <key>sourceSize</key>
                <string>{467,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe7336c41e8b6201eec40b7a42a5a85:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
