<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,361},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>Symbol 1SAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,430},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{195,229}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,229}}</string>
                <key>sourceSize</key>
                <string>{195,249}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{179,478}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{179,478}}</string>
                <key>sourceSize</key>
                <string>{195,478}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1},{29,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,54}}</string>
                <key>sourceSize</key>
                <string>{29,54}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,181},{137,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,321}}</string>
                <key>sourceSize</key>
                <string>{137,321}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{135,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,354}}</string>
                <key>sourceSize</key>
                <string>{135,354}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{61,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,240}}</string>
                <key>sourceSize</key>
                <string>{61,240}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,317},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a666fb5910c21e5e60a5f2f3dd714c9:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
