<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,446},{118,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{118,104}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{162,146}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{162,146}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,144},{162,146}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{162,146}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,148},{162,144}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{162,144}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,446},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,551},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,438},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{172,152}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{172,152}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,438},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,436},{152,134}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{152,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1},{164,142}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{164,142}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,291},{162,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{162,144}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{162,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{162,144}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,293},{162,144}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{162,144}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{162,146}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{162,146}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f659dff234243689489a4e3a82ae700:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
