<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{255,255}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,102}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Symbol 1SAO.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,257},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{66,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Symbol 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,174},{38,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{38,14}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,312},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,25}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>Symbol 2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,104},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,117},{56,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,16}}</string>
                <key>sourceSize</key>
                <string>{56,16}</string>
            </dict>
            <key>Symbol 3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,213},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>Symbol 4 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>Symbol 4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,291},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
            <key>Tween 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,104},{152,91}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{152,91}}</string>
                <key>sourceSize</key>
                <string>{156,117}</string>
            </dict>
            <key>bac.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{247,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,216}}</string>
                <key>sourceSize</key>
                <string>{247,216}</string>
            </dict>
            <key>day bac.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,581},{235,178}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{235,178}}</string>
                <key>sourceSize</key>
                <string>{247,214}</string>
            </dict>
            <key>global.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,324},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>lig.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,257},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>nap bac.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{247,138}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,138}}</string>
                <key>sourceSize</key>
                <string>{247,214}</string>
            </dict>
            <key>ruongtim bottom gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,749},{197,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,121}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>ruongtim top gr  copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,749},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>ruongvang all gr copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,581},{206,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,167}}</string>
                <key>sourceSize</key>
                <string>{206,167}</string>
            </dict>
            <key>ruongvang all gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,291},{244,282}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,282}}</string>
                <key>sourceSize</key>
                <string>{246,282}</string>
            </dict>
            <key>ruongvang bottom gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,760},{242,173}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,108},{242,173}}</string>
                <key>sourceSize</key>
                <string>{246,281}</string>
            </dict>
            <key>ruongvang top gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,770},{244,223}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,223}}</string>
                <key>sourceSize</key>
                <string>{246,281}</string>
            </dict>
            <key>tia copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{328,295}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{328,295}}</string>
                <key>sourceSize</key>
                <string>{336,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:704f557da68adfe01ddc54b0cc46719e:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
