<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Comp 1_00000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1584},{238,444}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{238,444}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,524},{332,502}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{332,502}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,228},{340,518}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{340,518}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{320,512}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{320,512}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,890},{304,510}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{304,510}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,134},{222,480}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,7},{222,480}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1038},{172,480}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,7},{172,480}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,857},{180,480}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,7},{180,480}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1459},{124,478}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,8},{124,478}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1342},{126,478}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,8},{126,478}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1330},{128,478}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,8},{128,478}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1211},{130,478}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,8},{130,478}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1},{132,488}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{132,488}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1469},{130,472}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,10},{130,472}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1195},{134,478}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,4},{134,478}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1600},{132,468}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,12},{132,468}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>Comp 1_00020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1584},{122,450}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,23},{122,450}}</string>
                <key>sourceSize</key>
                <string>{400,550}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{528,226}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{528,226}}</string>
                <key>sourceSize</key>
                <string>{550,250}</string>
            </dict>
            <key>superlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,357},{503,166}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{503,166}}</string>
                <key>sourceSize</key>
                <string>{539,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc19b46d4f7bbf9cb7d2ecda86346923:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
