<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,683},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>BIG Explosion_00.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,682},{128,98}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,106},{128,98}}</string>
                <key>sourceSize</key>
                <string>{480,350}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,987},{90,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1007},{118,129}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{118,129}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>F.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{126,136}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{126,136}}</string>
                <key>sourceSize</key>
                <string>{146,154}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,831},{166,165}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,181}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,865},{176,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{176,178}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>N.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,683},{181,182}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,198}</string>
            </dict>
            <key>RockFly_01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,225},{136,130}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{136,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,868},{164,158}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{164,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,759},{188,186}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{188,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{206,210}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,23},{206,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_05.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{214,224}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{214,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_06.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,469},{212,226}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,43},{212,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_07.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,468},{228,214}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{228,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RockFly_08.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,682},{148,190}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,59},{148,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{444,223}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{444,223}}</string>
                <key>sourceSize</key>
                <string>{444,287}</string>
            </dict>
            <key>Symbol 2 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,834},{184,172}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{184,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Symbol 4 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,666},{202,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,92}}</string>
                <key>sourceSize</key>
                <string>{202,92}</string>
            </dict>
            <key>Symbol 5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,946},{147,160}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{147,160}}</string>
                <key>sourceSize</key>
                <string>{171,184}</string>
            </dict>
            <key>Symbol 6 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,258},{210,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,291}}</string>
                <key>sourceSize</key>
                <string>{210,291}</string>
            </dict>
            <key>Symbol 6 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,483},{216,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,182}}</string>
                <key>sourceSize</key>
                <string>{216,182}</string>
            </dict>
            <key>Symbol 7 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>Symbol 7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{304,186}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{304,186}}</string>
                <key>sourceSize</key>
                <string>{480,350}</string>
            </dict>
            <key>Symbol 8 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,273},{233,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,194}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>Symbol 8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,997},{65,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,114}}</string>
                <key>sourceSize</key>
                <string>{65,114}</string>
            </dict>
            <key>shape 3029.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,781},{128,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,86}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>shape 3031.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,779},{127,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,95}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>shape 3033.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,907},{79,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>shape 3035.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,469},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>shape 3037.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,258},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>shape 3039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1},{271,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{271,247}}</string>
                <key>sourceSize</key>
                <string>{271,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea6fd4d0d4b8660cd80a8e1b26bd494:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
