<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillcuongphong_00000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,321},{157,178}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{157,178}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,479},{157,178}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{157,178}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,801},{157,174}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,49},{157,174}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,801},{157,174}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,49},{157,174}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,641},{159,174}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,48},{159,174}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{159,176}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{159,176}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{159,182}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,45},{159,182}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,161},{159,184}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,43},{159,184}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,637},{159,176}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,53},{159,176}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1},{159,186}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,43},{159,186}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{159,188}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,43},{159,188}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
            <key>skillcuongphong_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{159,186}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,45},{159,186}}</string>
                <key>sourceSize</key>
                <string>{177,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dd22e53d2316ba893262dafc78fe02:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
