<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,141}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{88,141}}</string>
                <key>sourceSize</key>
                <string>{92,153}</string>
            </dict>
            <key>ForgingEquip_00.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,144},{32,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{32,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ForgingEquip_01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,227},{76,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ForgingEquip_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,144},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ForgingEquip_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,294},{90,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ForgingEquip_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,195},{98,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ForgingEquip_05.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,399},{98,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,399},{65,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{65,99}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{128,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Symbol 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,112},{89,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,31}}</string>
                <key>sourceSize</key>
                <string>{89,31}</string>
            </dict>
            <key>Symbol 4 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,90},{7,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,308}}</string>
                <key>sourceSize</key>
                <string>{7,308}</string>
            </dict>
            <key>Symbol 4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{7,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,308}}</string>
                <key>sourceSize</key>
                <string>{7,308}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,195},{7,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,308}}</string>
                <key>sourceSize</key>
                <string>{7,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e715da4f5baa319a4a6035bb23e1be9:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
