<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Duplicate Items Folder/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{234,216}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{234,216}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>Duplicate Items Folder/Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,356},{42,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{42,34}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>Duplicate Items Folder/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{86,106}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,53},{86,106}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>Pre-comp 2_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,391},{60,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,48}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,356},{60,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,270},{60,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,452},{58,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,44}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,230},{56,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,42}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,417},{54,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,42}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,331},{54,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,459},{52,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,459},{50,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,40}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,230},{50,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,38}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00021.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,472},{50,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,38}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00022.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,273},{50,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,38}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00023.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,192},{48,10}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,10}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Pre-comp 2_00024.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,89},{28,8}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{28,8}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,310},{117,81}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1},{142,132}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{142,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,89},{122,102}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{122,102}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,392},{54,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{54,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,192},{121,77}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{121,77}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{131,87}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{131,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,218},{137,91}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{137,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{139,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{139,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,134},{141,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{141,95}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:476ee8239cf28f674cfbbe40af1335ea:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
