<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,223},{68,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,15}}</string>
                <key>sourceSize</key>
                <string>{68,15}</string>
            </dict>
            <key>Symbol 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,357},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{267,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,62}}</string>
                <key>sourceSize</key>
                <string>{267,62}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,286},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,318},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,427},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,369},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>Symbol 16 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,329},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,329},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,121},{73,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,5}}</string>
                <key>sourceSize</key>
                <string>{73,5}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,372},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,248},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,376},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,125},{100,51}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,51}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,212},{88,43}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,209},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,275},{13,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>__dbTextures/emoticonngua/Layer 20_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,362},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>__dbTextures/emoticonngua/Layer 20_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,177},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>__dbTextures/emoticonngua/Layer 20_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,464},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>__dbTextures/emoticonngua/Layer 20_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,393},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>__dbTextures/emoticonngua/mieng_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,293},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>__dbTextures/emoticonngua/mieng_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,293},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_0_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,293},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_0_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,259},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_0_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,114},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_0_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,329},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,483},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,292},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,146},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
            <key>__dbTextures/emoticonngua/tai_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,361},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>bom.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,369},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>connguoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,178},{46,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,9}}</string>
                <key>sourceSize</key>
                <string>{48,11}</string>
            </dict>
            <key>da.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,468},{64,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>dau-.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,64},{100,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>de.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,77},{72,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>eye_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,274},{84,18}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,18}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>facedapban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{110,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,164}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>kinh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{111,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,36}}</string>
                <key>sourceSize</key>
                <string>{111,36}</string>
            </dict>
            <key>l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,440},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,239},{61,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,27}}</string>
                <key>sourceSize</key>
                <string>{61,27}</string>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,448},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,457},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>lomui.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,208},{39,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,10}}</string>
                <key>sourceSize</key>
                <string>{39,10}</string>
            </dict>
            <key>lua_00000-1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,214},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>lua_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,293},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>lua_00004-1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,316},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>lua_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,392},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,175},{83,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{83,52}}</string>
                <key>sourceSize</key>
                <string>{89,60}</string>
            </dict>
            <key>matcomi120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,468},{78,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
            <key>matgian.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,446},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>mathi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,382},{83,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,16}}</string>
                <key>sourceSize</key>
                <string>{83,16}</string>
            </dict>
            <key>matngang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,369},{55,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,6}}</string>
                <key>sourceSize</key>
                <string>{55,6}</string>
            </dict>
            <key>matshock.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,260},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>matthodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{112,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,169}}</string>
                <key>sourceSize</key>
                <string>{112,169}</string>
            </dict>
            <key>mattron.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,382},{81,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
            <key>matvui.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,267},{61,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,18}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>matxoay.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,393},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>matxoaybe.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,431},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>maydapban.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,212},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>maykhoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,376},{80,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,19}</string>
            </dict>
            <key>mayshock.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,286},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>mieng_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,188},{45,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,15}}</string>
                <key>sourceSize</key>
                <string>{45,15}</string>
            </dict>
            <key>miengcuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,325},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>miengcuoimim.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,328},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,13}</string>
            </dict>
            <key>miengcuoimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,317},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>miengdapban.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,127},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>miengmeo copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,427},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>miengmeo.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,479},{51,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{51,32}</string>
            </dict>
            <key>miengovien.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,293},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>miengshock copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,163},{71,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,5}}</string>
                <key>sourceSize</key>
                <string>{71,5}</string>
            </dict>
            <key>miengshock.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,163},{71,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,5}}</string>
                <key>sourceSize</key>
                <string>{71,5}</string>
            </dict>
            <key>miengstartle.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,290},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>miengthodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,208},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>mixoay.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,368},{77,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,35}}</string>
                <key>sourceSize</key>
                <string>{77,35}</string>
            </dict>
            <key>mohoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,114},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>mom.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,169},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>momdapban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>nuocbe.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,293},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>nuocmat.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,420},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>nuocmat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,318},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>nuocmat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,318},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>nuocmui.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,204},{9,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,44}}</string>
                <key>sourceSize</key>
                <string>{9,44}</string>
            </dict>
            <key>nuocto.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,293},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>tai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,354},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>tim.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,455},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b954a7b7370969fc5d2a9e7519d2aa:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
